.Error{
    color:white;
    font-size: 2.1rem;
    position: relative;
    bottom:300px;
    left:300px;
    padding:30px;
    width:60%;
    border-radius:10px;
    border:3px solid grey;
    animation-name: error;
    animation-duration: 1.5s;
    backdrop-filter: blur(1.0px);
}
.Error h1{
    position: relative;
    left:55px;
    top:10px;
}
.backbtn{
    border:2px solid grey;
    border-radius: 10px;
    background-color: transparent;
    color:white;
    padding:20px;
    font-size: 1.3rem;
    position: relative;
    left:390px;
}
.backbtn:hover{
    color:skyblue;
}
@keyframes error{
    0%{
      opacity: 0;
    }
    50%{
       opacity: 0;
    }
    100%{
        opacity: 1;
    }

}